<!DOCTYPE html>
<html>
<head th:replace="fragments :: page_head('Përdoruesit - Ecommerce Admin', 'none')" />
<body>

<div th:replace="navigation :: menu"></div>

<div class="mt-4 " style="margin-left: 192px;">
    <a th:href="@{/users/new}"><button type="button" class="btn btn-primary shadow mb-2 rounded">Shto Përdorues</button></a>
</div>

<div th:replace="fragments :: search_form('/users/page/1')" />

<div th:replace="fragments :: message" />
	
<div class="mt-4 text-center">
<div class="mt-3 full-details d-flex justify-content-center">
		<table class="table table-bordered table-striped table-hover table-responsive-xl w-75 shadow p-3 mb-5 bg-white rounded">
			<thead class="table-info">
				<tr>
					<th>Id</th>
					<th>Foto</th>
					<th>Email</th>
					<th>Emri</th>
					<th>Mbiemri</th>
					<th>Roli</th>
					<th>Aktivizimi</th>
					<th>Veprime</th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td>[[${user.id}]]</td>
					<td>
					    <span th:if="${user.photos == null}"><img th:src="@{/images/default-user.png}"
							style="width: 50px" /></span>
						<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
							style="width: 50px" />
					</td>
					<td>[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastName}]]</td>
					<td>[[${user.roles}]]</td>
					<td><div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" /></td>

					<td>
						<div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" />
						|
						<div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />				
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div th:replace="fragments :: pagination('users')"></div>

<div th:replace="modal_fragment :: confirm_modal" />
	
<div th:replace="fragments :: footer"></div>
	
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/users}]]";

	entityName = "user";
</script>
</body>
</html>