<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" id="divProductDetails">
	<div class="form-inline mt-3 d-flex justify-content-center" id="divDetail0">
		<label class="m-3">Emri:</label>
		<input type="text" class="form-control w-25 shadow-sm bg-light rounded" name="detailNames" maxlength="255" />
		<label class="m-3">Vlera:</label>
		<input type="text" class="form-control w-25 shadow-sm bg-light rounded" name="detailValues" maxlength="255" />
	</div>	
</div>		
</body>
</html>