<!DOCTYPE html>
<html>
<head th:replace="fragments :: metaetj" />
<body>

<div th:replace="navigation :: menu"></div>

<div class="mt-4 " style="margin-left: 192px;">
    <a th:href="@{/products/new}"><button type="button" class="btn btn-primary shadow mb-2 rounded">Krijo Produkt</button></a>
</div>

<div th:replace="fragments :: search_form('/products/page/1')" />

<div th:replace="fragments :: message" />

<div class="text-center">
<div class="mt-3 full-details d-flex justify-content-center">
		<table class="table table-bordered table-striped table-hover table-responsive-xl w-75 shadow p-3 mb-5 bg-white rounded">
			<thead class="table-info">
				<tr>
                    <th th:replace="fragments :: column_link('/products', 'productCode', 'Kodi i Produktit', 'none')" />
					<th>Foto</th>
					<th th:replace="fragments :: column_link('/products', 'name', 'Emri', 'none')" />
					<th th:replace="fragments :: column_link('/products', 'brand', 'Marka', 'none')" />
					<th th:replace="fragments :: column_link('/products', 'category', 'Kategoria', 'none')" />
					<th>Aktivizimi</th>
					<th>Veprime</th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td><a class="link-detail" th:href="@{'/products/detail/' + ${product.id}}"
							title="Shikoni detajet e këtij produkti"
							>[[${product.productCode}]]</a></td>
					<td><img th:src="@{${product.mainImagePath}}" style="width: 70px" class="img-fluid" /></td>
					<td>[[${product.name}]]</td>
					<td>[[${product.brand.name}]]</td>
					<td>[[${product.category.name}]]</td>
					<td>
						<div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})" />
					</td>

					<td>
						<div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})" />
						|
						<div th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)" />				
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
</div>

    <div th:replace="fragments :: pagination('products')"></div>
    
    <div th:replace="modal_fragment :: confirm_modal" />
    
    <div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			</div>
		</div>
	</div>
	
	<div th:replace="fragments :: footer"></div>
	
	<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/products}]]";
	
	brandModuleURL = "[[@{/brands}]]";
	
	$(".link-detail").on("click", function(e) {
		e.preventDefault();
		linkDetailURL = $(this).attr("href");
		$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
	});
	
	entityName = "product";
</script>
</body>
</html>