<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content(statusVar, statusName, iconNames, name)" class="col">
	<th:block th:if="${statusVar}">
		<i th:class="'fas ' + ${iconNames} + ' fa-1x icon-green'"></i>
	</th:block>
	<th:block th:unless="${statusVar}">
		<a th:class="'fas ' + ${iconNames} + ' fa-1x icon-dark linkUpdateStatus'"
			th:id="'link' + ${statusName} + ${order.id}"
			th:orderId="${order.id}"
			th:status="${statusName}"
			th:title="${name}"
			th:href="@{'/update/' + ${order.id} + '/' + ${statusName}}"
			></a>
	</th:block>							
</div>