<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Ndrysho Fjalkalimin', 'none')" />
<body>
<div class="container-fluid text-center">
	<div th:replace="navigation :: menu"></div>
	
	<div class="shadow rounded">
	<div class="mt-4 font-weight-bold text-center text-info">
		<h2>Ndryshoni Fjalkalimin tuaj</h2>
	</div>

	<form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto">
	<input type="hidden" th:value="${token}" name="token" /> 
	<div class="mt-3 font-weight-bold text-center text-info">
		<div>
			<p>
				<input type="password" name="password" id="password" placeholder="Futni fjalëkalimin tuaj të ri"
					class=" mt-4 form-control shadow-sm bg-light rounded"
					 minlength="8" maxlength="15" required="required" autofocus="autofocus"/>			
			</p>
		</div>
		<div>
			<p>
				<input type="password" placeholder="Konfirmoni fjalëkalimin tuaj të ri"
					class="form-control shadow-sm bg-light rounded" oninput="checkPasswordMatch(this)"
					 minlength="8" maxlength="15" required="required"/>				

			</p>
		</div>
		<div>
			<input type="submit" value="Ndrysho fjalëkalimin" class="btn btn-primary shadow rounded" />
		</div>
	</div>
	</form>
</div>

	<div th:replace="fragments :: footer"></div>
</div>	
<script type="text/javascript">
	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Fjalëkalimet nuk përputhen!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
</script>
</body>
</html>